html {
    font-size: 10px;
}
body {
    margin: 0;
    background-color: #393b45;
    display: flex;
    justify-content: center;
    font-size: 10px;
}
.container {
    margin-top: 2rem;
    flex-basis: 75%;
    /* background-color: aqua; */
    /* height: 500px; */
    overflow: hidden;

}
.slider {
    display: flex;
    width: 400%;
    height: fit-content;
    /* background-color: aquamarine; */
    margin-left: -100%;
    transition: 0.5s;
}
.img-wrapper {
    width: 25%;
    height: fit-content;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 2%;
}
.text-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    color: aliceblue;
    font-size: 1.5rem;
    height: 2.5rem;
}
.labels {
    width: 12rem;
    display: flex;
    justify-content: space-around;
}
.label {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border:0.2rem solid #2c7b6f;
    background-color: #2c7b6f;
    border-radius: 50%;
    transition: 0.2s;
}
.label span {
    display: block;
    /* background-position: right top; */
    width: 3rem;
    height: 3rem;
    margin-top: -0.75rem;
    margin-left: -0.75rem;
}
.label:hover {
    border-color: #17dec0;
    background-color: #17dec0;
    cursor: pointer;
    transform: scale(1.1);
}
input {
    display: none;
}
.t {
    display: none;
}
#s1:checked ~ .text-wrapper .labels .s1 {
    background: none;
}
#s2:checked ~ .text-wrapper .labels .s2 {
    background: none;
}
#s3:checked ~ .text-wrapper .labels .s3 {
    background: none;
}
#s4:checked ~ .text-wrapper .labels .s4 {
    background: none;
}
#s1:checked ~ .slider {
    margin-left: 0;
}
#s2:checked ~ .slider {
    margin-left: -100%;
}
#s3:checked ~ .slider {
    margin-left: -200%;
}
#s4:checked ~ .slider {
    margin-left: -300%;
}
#s1:checked ~ .text-wrapper .text .t1 {
    display: inline;
}
#s2:checked ~ .text-wrapper .text .t2 {
    display: inline;
}
#s3:checked ~ .text-wrapper .text .t3 {
    display: inline;
}
#s4:checked ~ .text-wrapper .text .t4 {
    display: inline;
}